test/xsd/mlist.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element name="list">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="integer_item" type="xs:integer"/>
                <xs:element name="string_item" type="xs:string"/>
                <xs:element name="bool_item" type="xs:boolean"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>
