test/xsd/tree.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  
    <xs:element name="tree">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="node"/>
            </xs:sequence>
        </xs:complexType> 
    </xs:element> 
     
    <xs:element name="node">
        <xs:complexType>
            <xs:sequence>
	            <xs:element ref="node" minOccurs="0" maxOccurs="2"/>
            </xs:sequence>
            <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
